// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

//Colors

$gray-darker: #333;
$white: #fff;

//Navbar
$navbar-padding-y: 0;