.logo {
	display: inline-block;
	height: 17px;
	margin-top: 13px;
}

.navbar {
	border-bottom: 1px solid $navbar-border-color;
}

.dropdown-item {
	text-transform: none;
}

.nav-category .nav-link,
.card-category,
.post-info li,
.page-link {
	font-family: 'Lato', sans-serif;
}

.nav-category,
.card-category {
	text-transform: uppercase;	
	font-weight: 700;
}

.nav-category {
	.nav-link {
		color: $gray-darker;
		font-size: .9rem;
		padding: .9375rem .75rem;
		position: relative;
		z-index: 1;
		transition: all .2s ease-in-out;
		&:hover,
		&:focus {
			color: $white;
			&::before {
				height: 100%;
			}
		}
		&::before {
			transition: all .2s ease-in-out;
			content: '';
			position: absolute;
			width: 100%;
			height: 3px;
			z-index: -1;
			top: 0;
			left: 0;
		}
	}
}

.toolbar-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navbar-nav {
	.nav-category + .nav-category {
		margin-left: 2px;
	}
}

.html-css {
	&::before {
		background-color: $html-css-color;
	}
}

.js {
	&::before {
		background-color: $js-color;
	}
}

.php {
	&::before {
		background-color: $php-color;
	}
}

.db {
	&::before {
		background-color: $db-color;
	}
}

.design {
	&::before {
		background-color: $design-color;
	}
}

.vcs {
	&::before {
		background-color: $vcs-color;
	}
}

.tools {
	&::before {
		background-color: $tools-color;
	}
}

.other {
	&::before {
		background-color: $other-color;
	}
}

.additional {
	&::before {
		background-color: #000;
	}
}

.title-section {
	margin: 1.875rem 0;
	text-transform: uppercase;
	font-size: .9375rem;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	color: $title-section-color;
	border-bottom: 1px solid $title-section-border-color;
}

.heading-line {
	display: inline-block;
	margin-bottom: -1px;
	padding: 0 .3125rem 1rem 0;
    border-bottom: 1px solid $primary-color;
}

.post-item {
	margin-bottom: .9375rem;
}

.latest .post-block,
.post-img {
	position: relative;
	background: no-repeat center center;
	background-size: cover;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.4);
	}
}

.post-img {
	height: $post-img-height-xl;
}

.post-content {
	padding-top: .9375rem;
}

.post-title a,
.post-info a {
	color: inherit;
	&:hover {
		text-decoration: none;
	}
}

.post-title {
	color: $gray-darker;
	font-size: $post-title-font-size;
	line-height: 20px;
	margin: 0 0 10px;
	a {
		font-weight: 700;
	}
}

.post-info {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: .4375rem;
		color: $post-info-color;
		font-size: $post-info-font-size;
		font-style: italic;
		font-weight: 400;
		i {
			color: $post-date-icon-color;
			margin-right: .2rem;
		}
	}
}

/* .card-img-top {
	max-width: 100%;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
	}
} */

.card-category {
	$indent: 20px;
	position: absolute;
	bottom: $indent;
	left: $indent;
	z-index: 1;
	background-color: $other-color;
	font-size: $category-font-size;
	color: $white;
	font-weight: 700;
	padding: $category-padding;
	border-radius: 2px;
	transition: all .2s ease-in-out;
	&:hover {
		color: $white;
		text-decoration: none;
		opacity: .7;
	}
}

/**
* Pagination
*/
.page-item {
	display: inline-block;
	margin-right: 3px;
}

.page-link {
	font-weight: 400;
	border-radius: 3px;
	transition: all .2s ease-in-out;
	.pagination-sm & {
		font-size: .75rem;
	}
	&:hover {
		text-decoration: none;
	}
}

// Latest Category Articles styels
.latest {
	margin-right: 1px;
	.post-block {
		height: 225px;
		&::before {
			background-color: rgba(0,0,0,.65);
		}
	}
	.post-title {
		color: $white;
		margin-top: 10px;
		font-size: 1rem;
		a {
			font-weight: 500;
		}
	}
	.card-category {
		position: static;
	}
}

.top-categories {
	.post-title {
		font-size: .875rem;
		margin: 10px 0 5px;
		a {
			font-weight: 400;
		}
	}
	.owl-theme .owl-controls .owl-page span {
		background: $primary-color;
	}
	.owl-buttons {
		display: none;
	}
	.owl-theme .owl-page span {
		$size: 10px;
		width: $size;
		height: $size;
	}
}


.post-caption {
	$indent: 20px;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 $indent;
	z-index: 1;
	bottom: $indent;
	.latest-category-articles & {
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		bottom: auto;
	}
}

.searches {
	margin-top: 82px;
}

.latest-category-articles {
	background-color: $white;
	padding: 50px 0 1.875rem;
}

.latest-articles {
	overflow: hidden;
}

//Owl
.latest-category-articles .owl-theme .owl-controls .owl-page span {
	background: $primary-color;
}

.latest-category-articles .owl-theme .owl-controls {
	text-align: center;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -25px;
	width: 100%;
	height: 0;
	margin-right: 0px;
	opacity: 0;
	transition: all .2s ease-in-out;
	.owl-buttons div {
		font-size: 11px;
		color: $post-info-color;
		width: 20px;
		height: 20px;
		line-height: 18px;
		text-align: center;
		background: transparent;
		border: 1px solid $post-date-icon-color;
		margin-left: 2px;
		outline: none;
		padding: 0;
		box-shadow: none;
		opacity: 1;
		margin: 0 3px;
		border-radius: 3px;
		transition: all .2s ease-in-out;
		&:hover {
			color: $white;
			background: $primary-color;
			border: 1px solid $primary-color;
		}
		&.owl-prev,
		&.owl-next {
			&:hover {
				background: rgba(255, 255, 255, 0.9);
				&:after {
					color: $gray-darker;
				}
			}
			$size: 50px;
			width: $size;
			height: $size;
			border-radius: 50%;
			line-height: $size;
			font-size: 30px;
			border: none;
			background: rgba(34, 34, 34, 0.5);
			margin: 0;
		}
		&.owl-prev:after,
		&.owl-next:after {
			font-family: 'FontAwesome';
			transition: all .2s ease-in-out;
			color: $white;
			position: absolute;
		}
		&.owl-prev:after {
		  content: '\f104';
		  left: 39px;
		}
		&.owl-next:after {
		  content: '\f105';
		  right: 37px;
		}
		&.owl-prev {
			float: left;
			margin-left: 20px;
		}
		&.owl-next {
			float: right;
			margin-right: 20px;
		}
	}
}

.owl-carousel {
	&:hover {
	    .owl-controls {
		  opacity: 1;
		}
	}
}